{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
{% if  request.user.is_authenticated %}

<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Welcome {{user}}</h3>
   <hr>
   <div class="container my-5">
       <div class="col-sm-2 border-end">
           
       </div>
   </div class="col-sm-6 offset-sm-1">
   <h3>Change Password</h3>
   <hr>
   <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
    {% for fm in form %}
 <div class="form-group mb3">
        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>

        
     </div>
    {% endfor %} 

    <ul class="list-unstyled">
               
        <li class="form-group mb3">
            
           <a href="{% url 'profile'%}" class='btn btn-primary'>change Password</a></li>
       
                  </ul>
{% if  form.non_field_errors %}
     {% for error in form.non_field_errors %}
     <p class="alert alert-danger my-3">{{error}}</p>
     {% endfor %}
     {% endif %}
   </form>
  </div>
 </div>
</div>
{% endif %}
{% endblock main-content %}
